/* --------------------- ===
  COLORS
--------------------------- */
// Legacy
$brand-primary: #007FAA;
$primary: $brand-primary;
$brand-primary-25: #D8E6EE;
$brand-primary-50: #B9D2E0;
$brand-black:  #444;
$contact-background: rgba(255, 255, 255, .75);

// Font Sizes 1.25 ratio
$text-xs: .64rem;
$text-sm: .8rem;
$text-md: 1rem;
$text-lg: 1.25rem;
$text-xl: 1.563rem;
$text-xxl: 1.953rem;
$text-xxxl: 2.441rem;

$gray-lighter: #ECEEEF;

$text-colors: (
  'black': $brand-black,
);

$translucent-colors: (
  'black-1': rgba(0, 0, 0, .1),
  'black-2': rgba(0, 0, 0, .2),
  'black-4': rgba(0, 0, 0, .4),
  'black-5': rgba(0, 0, 0, .5),
  'black-8': rgba(0, 0, 0, .8),
  'white-0': rgba(255, 255, 255, 0),
  'white-1': rgba(255, 255, 255, .1),
  'white-5': rgba(255, 255, 255, .5),
  'white-8': rgba(255, 255, 255, .8),
);

// Spacing
$margin-bottom-element: 1rem;
$margin-bottom-section: 1.25rem;

/* --------------------- ===
  TYPOGRAPHY
--------------------------- */
$font-family-sans-serif: zen-new, sans-serif;
$font-weight-regular: 300; // zen-new light
$font-weight-bold: 400; // zen-new regular

$base-font-family: $font-family-sans-serif;
$base-font-weight: $font-weight-regular;
$base-font-spacing: 1px;
$base-line-height: 1.6;
$base-font-size: 18px;
