/* --------------------- ===
  IMPORTS
--------------------------- */
@import '$scss/local';

/* --------------------- ===
  STYLES
--------------------------- */

.wrapper {
  background: url('../../../assets/images/cec-contact-bg.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  padding: 15px 0;
}

.tabContainer {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
  display: block;
  position: relative;
}

.tab {
  background: $contact-background;
  position: relative;
  bottom: 0;
  float: left;
  width: 50%;
  padding: 5px 0;
  list-style: none;
  border-bottom: 3px solid $contact-background;

  svg {
    height: 40px;
    fill: $brand-black;
    display: block;
    margin: 0 auto;
  }

  &:hover {
    color: $brand-primary;
    svg {
      fill: $brand-primary;
    }
  }

  &__selected {
    color: $brand-primary;
    border-bottom: 3px solid $brand-primary;
    svg {
      fill: $brand-primary;
    }
  }
}

.infoContainer {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.info {
  position: absolute;
  top: 0;
  width: 100%;
  background: $contact-background;
  transition: all .5s ease;
  transform: translate(0,-100%);
  padding: 15px;

  &__active {
    display: block;
    position: relative;
    transform: translate(0);
  }
}
